body {
	background-color: rgb(18, 18, 18);
	color: rgb(222, 222, 222);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.letters-container {
	display: flex;
	flex-direction: row;
	gap: 2px;
	margin: 2px;
}

input {
	background: rgb(222, 222, 222);
	width: 30px;
	height: 30px;
	border: 0;
}

#excluded-letters {
	width: 174px;
	margin: 2px;
}